.home {
  box-sizing: border-box;
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 5px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
   .flex {
     flex-wrap: wrap;
    }
  }